.App {
	min-height: 200vh;
	background-color: rgb(192, 202, 212);
}
.Mycard {
	background: bisque;
	border-radius: 10px;
	border-width: thick;
	border-color: rgb(226, 205, 119);
}
h1 {
	color: rgb(209, 14, 14);
}
img {
	margin-top: -80px;
}
.space {
	margin-left: 15px;
}
.marrgin {
	margin: 0 5px 0 0;
}
.email {
	color: rgb(236, 115, 115);
}
.btn {
	background-color: rgb(184, 208, 240);
	border-radius: 10px;
	width: 80px;
	border-color: rgb(146, 156, 167);
	border-width: thick;
	color: rgb(49, 75, 224);
}
